.break1 {
  background-image: url("../../assets/wall.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.instructionsWallBreak1 {
  position: absolute;
  width: 25vw;
  margin: 50px;
}
