.home_play {
  width: 20%;
  color: rgb(231, 21, 21);
  background-color: transparent;
  font-size: 5vh;
  padding: 1vh 0vh 1vh 0vh;
  margin-bottom: 30vh;
  border: solid rgb(14, 7, 7) 2px;
  padding: 10px 0px 10px 0px;
  margin-bottom: 200px;
  border-radius: 20px;
  border-width: 4px;
}
