.home {
  background-image: url("../../assets//imageacceuil.jpg");
  background-size: cover;
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.jigsaw {
  opacity: 60%;
  margin-top: 100vh;
}

#name {
  width: 30%;
  font-size: 2vh;
  padding: 20px 0px 20px 10px;
  background-color: black;
  border-radius: 20px;
  border: solid #b7a262 2px;
  color: yellow;
}

::placeholder {
  color: yellow;
  font-size: 1em;
}

.home_play {
  width: 30%;
  color: rgb(231, 21, 21);
  background-color: black;
  font-size: 5vh;
  padding: 1vh 0vh 1vh 0vh;
  margin-top: 5vh;
  margin-bottom: 10vh;
  border: solid #b7a262 2px;
  padding: 10px 0px 10px 0px;
  border-radius: 40px;
  font-family: creepster;
}
