.Jigsaw-Block {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid silver;
    border-radius: 8px, 8px;
    background: #000000;
    width: 300%;
    height: 25%;
}

.Jigsaw-Avatar {

}

.Jigsaw-Image {
    height: 96px;
    margin: 16px;
    border: 2px solid silver;
    border-radius: 50%;
}

.Jigsaw-Quote {
    color: white;
    text-align: left;
    font-size: 1.5em;
}
